body {
    background-color: rgb(236, 216, 219);
    margin: 0 10%;
    font-family: sans-serif;
    /*background-image: linear-gradient(red, orange);*/

    /* these will reset other properties, like background-position, but it does know what you mean */
    /*background: red;*/
    background: linear-gradient(rgb(218, 177, 177), rgb(255, 255, 255));
}

h1 {
    color: #382828;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #c25454;
    margin-top: 30px;
}
  
h2 {
    color: #c25454;
    font-weight: normal;
    font-size: 1.5em;
}

h4 {
    text-align: center;
    background-color: #c2545448;
    border: 1px solid #c25454;
    font-family: Arial;
    font-weight: normal;
    color: rgb(109, 61, 61);
}

mark {
    text-align: center;
    background-color: #ffe291
}

bottombar {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}

nav {
    text-align: center;
    display: block;
    padding: 8px;
}

a:link {
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding-left:60px;
    padding-right:60px;
}

li a {
    display: block;
    color: #382828;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:visited {
    color:#382828;
}